.Habit {
  &-Title {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }
  &-List {
    width: auto;
    min-width: 600px;
    border: 1px solid #dedede;
    padding: 32px;
  }
  &-Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedede;
    padding: 16px 0px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-Icon {
    margin-left: 8px;
    cursor: pointer;
  }
}

.Icon-Container {
  display: flex;
  align-items: center;
}
