#root {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #a67792,
    #a984a4,
    #aa91b6,
    #ab9fc5,
    #abadd3,
    #9caacd,
    #8ea8c5,
    #83a4bc,
    #698e9f,
    #537881,
    #416265,
    #314d4b
  );
}

.App {
  height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.Button-Container {
  img {
    height: 100%;
    position: absolute;
    right: -50px;
    bottom: 90px;
    transform: rotate(-1deg);
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 25px;
    height: 64px;
    padding: 32px;
    border-radius: 9999px;
    font-size: 18px;
    margin-top: 8px;

    &:hover {
      border-color: #866a5c;
      color: #866a5c;
    }
  }
}

.Button-Icon {
  margin-left: 8px;
}

.Calendar-Container {
  padding: 16px 32px;
}

.Calendar {
  border: 1px solid #dedede;
  padding: 32px;
  background-color: transparent;
}

.Calendar-Back-Icon {
  cursor: pointer;
}
